/* add google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Henny+Penny&family=IBM+Plex+Sans:wght@200&display=swap');

/* colour styles here */

/* Wildcard to overeride default styles by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 196, 95);
}

h1 {
    font-family: "henny penny";
}