/* add google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Henny+Penny&family=IBM+Plex+Sans:wght@200&display=swap');

/* colour styles here */

/* Wildcard to overeride default styles by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 196, 95);
}

/*Header*/
h1 {
    font-family: "henny penny";
    text-align: center;
    font-size: 2.5rem;
    margin: 20px;
}

/*Main*/
.icons {
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px;

}

button {
    background-color: rgb(156, 154, 150);
    font-size: 2rem;
    margin: 10px;
}

.box-style {
    display: grid;
    margin: 25px;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.line-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.red-box {
    background-color: #f50430;
    width: 65px;
    height: 65px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.blue-box {
    background-color: #5700fa;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.green-box {
    background-color: #26f34c;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pink-box {
    background-color: #f13ea7;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.orange-box {
    background-color: #f5c43d;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.yellow-box {
    background-color: #f7eb47;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}